.container {
    width: 800px;
    height: 800px;
    background: lightseagreen;
    margin: auto;
    display:flex;
    justify-content:space-between;
}

.container2 {
    width: 500px;
    height: 600px;
    background:rgb(228, 228, 228);
    margin: auto;
   
}

h1 {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-size: 50px
}

.stuff{
   margin-left: 50px;
   height: 50px;
   width: 300px;
}

.button1{
    background: pink;
    height: 55px;
    width: 60px;
  
   }

   #shoppingList  {
    margin-left: 10px;
    font-size: 30px;
    /* list-style:none; */
    
   }
li{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

h2 {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-size: 20px
}




.del{
    width:40px;
    height:40px;
    border-radius: 50%;
    background:red;

}

.done {
    background: green;
    border-radius: 50%;
}

#On{
    background:yellow;
}