.VZL {
  background: #0D91A1;
  color: #015668;
  width: 160px;
  height:80px;
  border: 3px solid #7DCE94;
  padding-right: 10px;
  padding-left:10px;
  margin: 10px;
  font-family: 'Inconsolata', monospace;
}